body {
     background-image: url('/images/background.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     margin: 0;
     padding: 0;
     height: 100vh;
}
 .login-body {
     background-image: url('/images/background1.jpg');
     background-size: 100% 100%;
     background-repeat: no-repeat;
     background-attachment: fixed;
     margin: 0;
     padding: 0;
     height: 50vh;
}
 .form-container {
     margin-top: 10px;
}
 .label-box {
     border: 1px solid rgb(0, 0, 0);
     padding: 10px;
     border-radius: 5px;
     background-color: rgb(228, 228, 228);
     color: #000;
}
 .custom-container {
     background-color: rgba(255, 255, 255, 0.8);
     padding: 80px;
     border-radius: 20px;
     margin: 60px auto;
     max-width: 700px;
}
 .form-group label {
     color: rgb(0, 0, 0);
}
 .form-title {
     text-align: center;
     margin-bottom: 20px;
     font-size: 24px;
     color: #333;
}
 .content-container {
     margin-top: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 25vh;
     background-color: rgba(255, 255, 255, 0.2);
     border-radius: 130px;
     box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
}
 .content {
     text-align: center;
     color: white;
}
 .start-button {
     font-size: 27px;
     padding: 15px 30px;
}
 .saved-workouts-header {
     color: white;
     background-color: rgb(0, 128, 192);
     border: 2px solid black;
     padding: 5px;
     text-align: center;
     -webkit-text-stroke: 1px black;
}
 