<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Exercises List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" th:href="@{css/styles.css}" />
    </head>
    <div>
        <body>
            <div th:replace="~{fragments/navbar :: navbar}"></div>
            <div class="container">
                <div class="form-container" style="padding: 20px;">
                    <form action="/addexercise" method="post">
                        <div class="form-group">
                            <label for="newExerciseName" class="label-box">Create a new exercise &#x1F447;</label>
                            <input type="text" id="newExerciseName" name="newExerciseName" class="form-control" placeholder="Enter the new exercise name..." required style="width: 350px;">
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin-bottom: 10px;"> Add exercise</button>
                    </form>
                    <h1 class="saved-workouts-header">Complete List of Exercises </h1>
                    <table class="table table-bordered table-striped table-dark table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th style="width: 10px;">#</th>
                                <th style="width: 10x;">Exercise name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="exercise, iterStat : ${exercises}">
                                <td th:text="${iterStat.count}"></td>
                                <td th:text="${exercise.newExerciseName}"></td>
                                <td style="text-align: center; vertical-align: middle;">
                                    <form th:action="@{exercises/delete/{id}(id=${exercise.id})}" method="POST">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button type="submit" class="btn btn-danger btn-delete" style="width: 20%; text-align: center; vertical-align: middle;" title="Delete">&#x1F5D1;</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </body>
</html>